*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-serif) !important;
  background: var(--bg);
  color: var(--text);
  font-size: 18px;
  line-height: 1.75;
  overflow-x: hidden;
}

a {
  color: var(--primary-dark);
}
